@model ProjectManager.Models.UserModel

@{
    ViewBag.Title = "添加用户";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <script src="~/Content/App/User/Add.js"></script>
}

@using (Ajax.BeginForm("add", "User", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "App.SaveSuccess" }, new { @class = "form-horizontal" }))
{
    <div class="m-form f-cb">
        <dl class="f-cb s-borderbg">
            <dt><i>*</i>@Html.LabelFor(m => m.Name)</dt>
            <dd>
                @Html.TextBoxFor(m => m.Name, new { @class = "u-iptl" })
                @Html.ValidationMessageFor(m => m.Name)
            </dd>
            <dt><i>*</i>@Html.LabelFor(m => m.Code)</dt>
            <dd>
                @Html.TextBoxFor(m => m.Code, null, new { @class = "u-iptl" })
                @Html.ValidationMessageFor(m => m.Code)
            </dd>
            <dt><i>*</i>@Html.LabelFor(m => m.Pwd)</dt>
            <dd>
                @Html.TextBoxFor(m => m.Pwd, null, new { @class = "u-iptl" })
                @Html.ValidationMessageFor(m => m.Pwd)
            </dd>
            <dt><i>*</i>@Html.LabelFor(m => m.Email)</dt>
            <dd>
                @Html.TextBoxFor(m => m.Email, null, new { @class = "u-iptl" })
                @Html.ValidationMessageFor(m => m.Email)
            </dd>
            <dt><i>*</i>@Html.LabelFor(m => m.Phone)</dt>
            <dd>
                @Html.TextBoxFor(m => m.Phone, null, new { @class = "u-iptl" })
                @Html.ValidationMessageFor(m => m.Phone)
            </dd>

            <dt><i>*</i>@Html.LabelFor(m => m.QQ)</dt>
            <dd>
                @Html.TextBoxFor(m => m.QQ, new { @class = "u-iptl" })
                @Html.ValidationMessageFor(m => m.QQ)
            </dd>
            <dt><i>*</i>@Html.LabelFor(m => m.Job)</dt>
            <dd>
                @Html.DropDownListFor(m => m.Job, null, new { @class = "u-sltl" })
                @Html.ValidationMessageFor(m => m.Job)
            </dd>
            <dt><i>*</i>@Html.LabelFor(m => m.Position)</dt>
            <dd>
                @Html.DropDownListFor(m => m.Position, null, new { @class = "u-sltl" })
                @Html.ValidationMessageFor(m => m.Position)
            </dd>
            <dt></dt>
            <dd>
                <input type="submit" class="u-btnblue" value="保存">
                <input type="button" class="u-btnblue marl10" value="取消">
            </dd>
        </dl>
    </div>
}

