@model RequirementModel

@{
    ViewBag.Title = "添加需求";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section header{
    <link href="~/Content/umeditor/themes/default/css/umeditor.min.css" rel="stylesheet" />
    <link href="~/Content/artDialog/skins/default.css" rel="stylesheet" />
}

@section scripts
{
    <script src="~/Content/umeditor/umeditor.config.js"></script>
    <script src="~/Content/umeditor/umeditor.min.js"></script>
    <script src="~/Content/artDialog/jquery.artDialog.js"></script>
    <script src="~/Content/artDialog/plugins/iframeTools.js"></script>
    <script type="text/javascript">
        function success(data) {
            SuccessTip(data.Msg);
        }

        function create_module() {
            $.dialog.open('@Url.Action("SimpleAdd","Module")',{title:'添加模块',width:470,height:140});
        }

        var um = UM.getEditor('container', {
            initialFrameWidth: 539,
            initialFrameHeight: 300,
            toolbar: [
                'bold italic underline strikethrough | superscript subscript | forecolor backcolor | removeformat |',
                'insertorderedlist insertunorderedlist',
                '| justifyleft justifycenter justifyright justifyjustify |',
                'link unlink ']
        });


    </script>
}
@using (Ajax.BeginForm("add", "project", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "success" }, new { @class = "form-horizontal" }))
{
    <div class="m-form f-cb">
        <dl class="f-cb s-borderbg">
            <dt><i>*</i>@Html.LabelFor(m => m.Name)</dt>
            <dd>
                @Html.TextBoxFor(m => m.Name, new { @class = "u-iptl" })
            </dd>
            <dt><i>*</i>@Html.LabelFor(m => m.AreaName)</dt>
            <dd>
                @Html.DropDownListFor(m => m.AreaName, null, new { @class = "u-sltl" })
            </dd>
            <dt><i>*</i>@Html.LabelFor(m => m.ModuleName)</dt>
            <dd>
                @Html.DropDownListFor(m => m.ModuleName, null, new { @class = "u-sltl" })
                <a href="javascript:void(0);" onclick=" create_module() ">添加模块</a>
            </dd>
            <dt><i>*</i>@Html.LabelFor(m => m.Roles)</dt>
            <dd>
                @foreach (string item in ViewBag.Roles as List<string>)
                {
                    <input type="checkbox" name="Roles" value="@item"/>
                    @item
                }
            </dd>
            <dt><i>*</i>@Html.LabelFor(m => m.DataSource)</dt>
            <dd>
                @Html.TextBoxFor(m => m.DataSource, new { @class = "u-iptl" })
            </dd>
            <dt><i>*</i>@Html.LabelFor(m => m.Description)</dt>
            <dd>
                <!-- 加载编辑器的容器 -->
                <script id="container" name="content" type="text/plain">
                </script>
                @Html.ValidationMessageFor(m => m.Description)
            </dd>
            <dt></dt>
            <dd>
                <input type="submit" class="u-btnblue" value="保存">
                <input type="button" class="u-btnblue marl10" value="取消">
            </dd>
        </dl>
    </div>
}
