<div class="control-group">
    @Html.LabelFor(m => m, new { @class = "control-label" })
    <div class="controls">
        <!-- 加载编辑器的容器 -->
        <script id="container" name="content" type="text/plain">
        @Html.DisplayFor(m=>m)
        </script>
        <!-- 配置文件 -->
        @Scripts.Render("~/Content/umeditor/umeditor.config.js")
        <!-- 编辑器源码文件 -->
        @Scripts.Render("~/Content/umeditor/_src/ueditor.js")
        <!-- 实例化编辑器 -->
        <script type="text/javascript">
            $(document).ready();
            var ue = UE.getEditor('container');
        </script>
        @Html.ValidationMessageFor(m => m)
    </div>
</div>
