<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/common.css" rel="stylesheet" />
    <link href="~/Content/css/backstage.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-1.8.2.min.js"></script>
    @RenderSection("header", false)
</head>
<body>
    <!-- top导航 -->
    @Html.Partial("TopNavPartialView")
    <!-- /top导航 -->
    <!-- 头部 -->
    @Html.Partial("HeaderPartialView")
    <!-- /头部 -->
    <!-- 主体 -->
    <div class="g-bd f-cb">
        <div class="m-main">
            <!-- 左侧 -->
            <div class="g-sd">
                <!-- 左侧菜单 -->
                @Html.Partial("MenuPartialView")
                <!-- /左侧菜单 -->
            </div>
            <!-- /左侧 -->
            <!-- 主体内容 -->
            <div class="g-mn">
                <div class="g-mnc f-cb">
                    <iframe id="mainRigh" width="100%" name="mainContent" frameborder="0" height="800"></iframe>
                </div>
            </div>
            <!-- /主体内容 -->
        </div>
    </div>
    <!-- /主体 -->
    <!-- 尾部 -->
    @Html.Partial("FooterPartialView")
    <!-- /尾部 -->
</body>
</html>
