<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
  @*  @Styles.Render("~/Content/themes/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Content/themes/bootstrap/css/style-metro.css")*@
    @Styles.Render("~/Content/themes/bootstrap/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("header", required: false)
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/artDialog/css/ui-dialog.css")
    @Scripts.Render("~/Content/artDialog")
    @Scripts.Render("~/Content/mmGrid")
    @RenderSection("footer", required: false)
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        function SuccessTip(con, onClose, showTime) {
            if (0 == showTime || !showTime) {
                showTime = 3;
            }
            var d = dialog({
                content: con
            });
            d.show();
            setTimeout(function () {
                if (onClose) {
                    onClose();
                }
                d.close().remove();
            }, showTime*1000);
        }
    </script>
</body>
</html>
