<div class="m-sd">
    <div class="f-cb psinfo">
        <div class="m-content2 f-cb">
            <div class="hdimg">
                <a>
                    <img src=""></a>
            </div>
            <div class="infodeta">
                <p>王赫群</p>
                <p>管理员</p>
            </div>
        </div>
        <div class="m-content mart15 f-cb">
            <a><i class="ico-set marr5"></i>系统设置</a><a class="marl30"><i class="ico-exit marr5"></i>退出</a>
        </div>
    </div>
    <!-- /个人信息 -->

    <!-- 菜单 -->
    <div class="f-cb sdnav">
        <ul>
            <li><a class="fst"><span>项目管理</span><i></i></a>
                <ul class="scd">
                    <li><a href="@Url.Action("index", "Project")" target="mainContent"><i></i>项目列表</a></li>
                    <li><a href="@Url.Action("add", "Project")" target="mainContent"><i></i>创建项目</a></li>
                </ul>
            </li>
            <li><a class="fst"><span>用户管理</span><i></i></a>
                <ul class="scd">
                    <li><a href="@Url.Action("add", "User")"><i></i>用户添加</a></li>
                    <li><a href="@Url.Action("add","Node")"><i></i>添加节点</a></li>
                    <li><a href="@Url.Action("Edit","Node")"><i></i>修改节点</a></li>
                    <li><a href="@Url.Action("Index","Role")"><i></i>角色管理</a></li>
                    <li><a href="@Url.Action("Add","Role")"><i></i>角色添加</a></li>
                </ul>
            </li>
            <li><a class="fst"><span>工作跟踪</span><i></i></a>
                <ul class="scd">
                    <li><a><i></i>模板管理</a></li>
                    <li><a><i></i>属性完善</a></li>
                </ul>
            </li>
            <li><a class="fst"><span>用户管理</span><i></i></a>
                <ul class="scd">
                    <li><a><i></i>模板管理</a></li>
                    <li><a><i></i>属性完善</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /菜单 -->
</div>
